* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcfcfc;
}

.container {
  width: 100%;
  height: 100vh;
}

.dropdown {
  /* width: 20.5%; */
  /* margin: 20% auto; */
  position: relative;
  user-select: none;
}

.dropdown-1 .dropdown .dropdown-content {
  z-index: 1;
}

.dropdown-2 .dropdown .dropdown-content {
  z-index: -1;
}

.dropdown .dropdown-button {
  padding: 15px 20px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color:#333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.search-input {
  border: none;
  width: 80%;
  font-weight: bold;
  font-size: large;
}

.search-input:focus {
  outline: none;
}

.dropdown .dropdown-content {
  position: absolute;
  
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color:#333;
  width: 100%;
  box-sizing: border-box;
  min-height: 4vh;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.dropdown .dropdown-content .dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover {
  background: #f4f4f4;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.dropdown .dropdown-button i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down-arrow {
 transform: rotate(45deg);
}

.up-arrow {
  transform: rotate(-135deg);
 }